<h1>Jelszóvisszaállítás</h1>

<p>
  Ez az e-mail egy jelszóvisszaállítási kérésre érkezett a jorendben.hu fórumától. Ha azt nem te kezdeményezted, az üzenetet nyugodtan figyelmen kívül hagyhatod (már amennyire nyugodt lehet az, akinek a nevében ilyesmivel próbálkoznak). Ha mégis, az alábbi linkre kattintva új jelszót állíthatsz be magadnak.
</p>

<%= link_to "#{@user.username} jelszavának visszaállítása", @forgotten_password_url %>
