<table id = "users_table">
  <thead>
    <tr>
      <th>Felhasználónév</th>
      <th>Név</th>
      <th>Itt járt</th>
      <th>Hozzászólások</th>
      <th>Feltöltések</th>
    </tr>
  </thead>
  <%= render partial: "user", collection: @users %>
</table>
