<p>
  <strong>Megnevezés:</strong>
  <%= @font_size.name %>
</p>

<p>
  <strong>Érték:</strong>
  <%= @font_size.value %>
</p>

<%= link_to 'Szerkesztés', edit_font_size_path(@font_size) %> |
<%= link_to 'Lista', font_sizes_path %>
