/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {

  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  margin: 0;
  padding: 0;
  color: black;

}

textarea, input {


  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;

}

table {

  border-collapse: collapse;

}


table, th, td {

  border: 1px solid black;

}

p {

  font-size: 100%;
  line-height: 1.2;
  cursor: default;
  margin: 0;
  padding: 0;

}

p.centered {

  text-align: center;

}

p#notice {

  text-align: center;
  text-shadow: 0 0 0.2em #7893c5;
  color: white;
  font-weight: bolder;
}

a:link {
  
  text-decoration: none;

}

a:visited {

  text-decoration: none;
  color: black;

}

a:hover {

  background-color: inherit;
  text-decoration: none;
  color: black;
}

a:active {

}

a.link_with_image {

border: none !important;
text-decoration: none;
background: none;

}

img.button {

  width: 0.8em;

}

#header {
 
  position: absolute;
  top: 0;
  left: 0;   
  width: 100%;
  height: 1.8em;  
  background-color: #7893c5;
  border-bottom: 0.1em solid black;

}

#top_menu {

  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  font-weight: bolder;
  font-size: 130%;
}

#main {

  position: absolute;
  top: 1.8em;
  bottom: 2em;
  left: 0;
  width: 100%;
  overflow: auto;
}

#content{

  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

}

#footer {

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background-color: #7893c5;
  border-top: 0.1em solid black;

}

#bottom_menu {

  max-width: 1000px;
  margin: 0 auto;
  padding: .25em;
  overflow: auto;
  color: white;
  font-weight: bolder;
  font-size: 1em;

}

#bottom_menu li{

  float: left;
  margin: 0 0.8em;
  padding: 0;
 
}

#bottom_menu input{

  font-size: 0.8em
 
}


a:link.menu {
  
  text-decoration: none;
  color: white;
  text-shadow: 0.1em 0.1em #000000;
  display: inline-block;

}

a:visited.menu {

  text-decoration: none;
  color: white;

}

a:hover.menu {

  background-color: inherit;
  text-decoration: none;
  color: white;

}

a:active.menu {

}

.search_form_container {

  width: 100%;
  max-width: 400px;
  margin: 0 auto;

}

.page_title {

  color: white;
  text-shadow: 0.1em 0.1em #000000;
  display: inline-block;

}

.form_container {

  width: 100%;
  max-width: 800px;
  margin: 0 auto;

}

.pagination {

  text-align: center;

}


.pagination .current {

  color: grey;

}

@media screen and (max-height: 768px) {

#header {

  position: static;
  float: left;

}

#main {

  position: static;
  float: left;
  overflow: visible;

}

#footer {

  position: static;
  float: left;

}

}
