// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {

  border-top: 2px solid black;
  width: 100%;
  max-width: 1000px;
  overflow: auto; 
}

.post_header {

  width: 100%;
  background-color: #7893c5;
  color: white;
  font-weight: bolder;
  padding: 2px 0;
  height: 24px;

}

.post_header a:link {

  color: white;

}

.post_header a:visited {

  color: white;

}

.post_user {

  width: 35%;
  display: inline-block;

}

.post_username {

  width: 100%;
  padding: 2px 4px;
  display: inline-block;

}

.post_avatar {

  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: none;

}

img.avatar {

  height: 20px;
  display: block;

}

img.avatar a {

  height: 20px;
  display: inline-block;

}

.post_time {

  width: 43%;
  display: inline-block;
  text-align: right,

}

.answer_post {


}

.post_chain .post_time {

  width: 38%;

}

.post_answer {

  width: 10%;
  display: inline-block;
  text-align: right,

}

.post_number {

  width: 10%;
  display: inline-block;
  text-align: right,

}

.post_text {

  padding: 5px;
  background-color: #F0F0F0;

}

.post_text p {

  max-width: 800px;

}

p.archived_comment {

  color: #292421;

}

.post_text a:link {

  color: black;
  text-decoration: underline;

}

.post_text a:visited {

  color: grey;

}

.post_user_signature {

  padding: 5px;
  font-size: 75%;
  background-color: #F0F0F0;

}

.post_chain {

  display: none;
  position: relative;
  left: 100px;
  font-size: 80%;
  width: 80%;

}

.post_answer_to {

  text-align: right;
  font-size: 80%;
  cursor: help;

}
