// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topic_headings {

  font-family: Arial, Helvetica, sans-serif;
  background-color: #7893c5;
  width: 100%;
  color: white;
  text-shadow: 0.1em 0.1em #000000;
  font-size: 120%;
  font-weight: bolder;
  border-top: 0.1em solid black;
  padding: 0.3em 0;

}

.topic_list {

  font-family: Arial, Helvetica, sans-serif;
  width: 100%;

}

.visited_topic {

  margin: 0.1em 0;
  background-color: #F0F0F0;
  padding: 0.1em;
  color: dimgrey;

}

.visited_topic a:link {
  
  color: dimgrey;

}

.visited_topic a:visited {
  
  color: dimgrey;

}

.visited_topic a:hover {
  
  color: dimgrey;

}

.unvisited_topic {

  margin: 0.1em 0;
  background-color: #F0F0F0;
  padding: 0.1em;

}

.topic_title {

  width: 50%;
  display: inline-block;
}

.topic_description {
  
  padding: 0.5em;
  text-align: center;
  
}

table.level_forecast td {

  font-size: 100%;
 
}

table.level_forecast th {

  background-color: #7893c5;
  color:white;
  padding: 4px; 
}

.topic_messages {

  width: 10%;
  display: inline-block;
  text-align: right,

}

.topic_last_message {

  width: 20%;
  display: inline-block;
  text-align: right,

}

.topic_last_poster {

  width: 15%;
  display: inline-block;
  text-align: right,

}

.topic_headings .topic_title {
  text-align: center,
}

.topic_headings .topic_messages {

  text-align: center,

}

.topic_headings .topic_last_message {

  width: 20%;
  display: inline-block;
  text-align: center,

}

.topic_headings .topic_last_poster {

  text-align: center,
}
.topic_posts {

  padding: 0.5em 0;
}

#post_form_container {

  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #7893c5;
}

#post_form_container p {

  text-align: center;
  color: white;
  padding: 0.25em;
  font-weight: bolder;
}

#post_form_container input[type=submit] {

  margin-left: 45%;

}

#post_form_container textarea {

  display: block;
  width: 96%;
  margin: 2%;
  resize: vertical;
  height: 7em;

}

#post_form_container input[type=file] {

  font-size: 80%;

}

#mobile_tools {

  text-align: center;
  margin: 0.1em auto;

}

#upload_images_field {

  display: none;
 
}
