// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topic_headings {

  background-color: #7893c5;
  width: 100%;
  color: white;
  text-shadow: 2px 2px #000000;
  font-size: 120%;
  font-weight: bolder;
  border-top: 2px solid black;
  padding: 10px 0;
}

.topic_list {

  width: 100%;

}

.visited_topic_list_element {

  margin: 2px 0;
  background-color: #F0F0F0;
  padding: 2px;
  color: dimgrey;

}

.visited_topic_list_element a {
  
  color: dimgrey;

}

.visited_topic_list_element a:visited {
  
  color: dimgrey;

}

.unvisited_topic_list_element {

  margin: 2px 0;
  background-color: #F0F0F0;
  padding: 2px;

}

.topic_title {

  width: 50%;
  display: inline-block;
}

.topic_description {
  
  padding: 10px;
  text-align: center;
  
}

table.level_forecast td {

  font-size: 100%;
 
}

table.level_forecast th {

  background-color: #7893c5;
  color:white;
  padding: 4px; 
}

.topic_messages {

  width: 10%;
  display: inline-block;
  text-align: right,

}

.topic_last_message {

  width: 20%;
  display: inline-block;
  text-align: right,

}

.topic_last_poster {

  width: 15%;
  display: inline-block;
  text-align: right,

}

.topic_headings .topic_title {
  text-align: center,
}

.topic_headings .topic_messages {

  text-align: center,

}

.topic_headings .topic_last_message {

  width: 20%;
  display: inline-block;
  text-align: center,

}

.topic_headings .topic_last_poster {

  text-align: center,
}
.topic_posts {

  padding: 10px 0;
}

.post_form_container {

  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 240px;
  background-color: #7893c5;
}

.post_form_container p {

  text-align: center;
  color: white;
  padding: 5px;
  font-weight: bolder;
}

.post_form_container input[type=submit] {

  margin-left: 45%;

}

.post_form_container input[type=file] {

  font-size: 80%;

}
