<% @uploads_by_post.each do |post, uploads| %>
  <ul class="medium_gallery">
    <b><%= link_to post.topic.name, post.topic, target: "_new" %></b>, #<%= post.number %>:<br/>
    <% uploads.each do |u| %>
      <li><%= link_to image_tag(u.file.url(:medium)), u.file.url, target: "_blank" %><br/><%= link_to_if(u.user == current_user, "Törlés", upload_path(u), method: "delete", target: "_new"){} %></li>
    <% end %>
  </ul>
<% end %>
